<h1>Angular</h1>
<courses></courses>
<person></person>

<br/>
<app-favorite [T-tle]="post.title" [obj]="person" (click)="childToParent($event)"></app-favorite> 
<!--Call input and output with their alaising name-->

<div *ngIf="courses.length > 0">
    List of courses
</div>
<div *ngIf="courses.length <= 0">
    No courses yet
</div>

<div *ngIf="courses.length > 0; then courseList else noCourses">
    List of courses
</div>
<ng-template #courseList>
    List of courses from ng-template
</ng-template>
<ng-template #noCourses>
    No courses yet from ng-temlate
</ng-template>

